@font-face {
  font-family:'Cursive';
  src: url('Midspicy\ Regular.ttf') format('truetype');
}

body {
    background-image: linear-gradient(to top, #f900b1 ,#b0e0e6,#1e90ff  ,#ff00ff);
    font-family:'Cursive';
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    height: 100vh;
  }

  h1 {
    padding: 10px;;
    font-size: 50px;
    margin-bottom: 5px;
    color: #ffd700 ;
    text-align:center;
    text-transform: uppercase;
  }

  p{
    padding: 20px;
    font-size: 40px;
    margin-bottom: 10px;
    color:   #ffd700;
    text-align:center;
    position: relative;bottom: 50px;
    display: none;
  }
  
  #yes, #no {
    padding: 20px 40px;
    border: 2px solid #581845;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
    position: absolute;
  }
  
  #yes {
    background-color:#ffa07a ;
    color: #9400d3;
    top: 40%;
    left: 10%;
  }
  
  #yes:hover {
    background-color:	#153CB4;
    color: #ffa07a ;
  }
  
  #no {
    background-color: #ffa07a ;
    color:  #9400d3 ;
    top: 55%;
    left: 10%;
  }
  
  #no:hover {
    display: none;
  }

  .carousel-container {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    display: none;
    position:absolute;
    top:800px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border: 5px solid #153CB4;
    border-radius: 10px;
  }
  
  .carousel-slide {
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .neon {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    animation: blink 5s linear infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
